development:
  access_key_id: 123...
  secret_access_key: 123...
  bucket: foo 
test:
  access_key_id: abc...
  secret_access_key: abc...
  bucket: foo 
production:
  access_key_id: 456...
  secret_access_key: 456...
  bucket: foo